<template>
  <div>
    <p>Containerr</p>
    <p>Kullanıcı Adı: {{ name }}</p>
    <button @click="parenttitlechange()">Parent Title Channge</button>
  </div>
</template>
<script>
export default {
  props: {
    name: {
      default: "Didem",
    },
  },
  methods: {
    parenttitlechange() {
      this.$emit("parentTitleChanged", "Samet");
    },
  },
};
</script>
<style  scoped>
div {
  background-color: red;
  color: white;
  float: left;
  width: calc(80% - 20px);
  height: 250px;
  margin: 10px;
}
button {
  background-color: blue;
  color: whitesmoke;
  width: 100px;
  line-height: 20px;
}
button:hover {
  color: blue;
  background-color: whitesmoke;
}
</style>