<template>
  <div>
    <p>iletişim {{ mail || "didem@gmail.com" }}</p>
    <p>{{ componentdatasi }}</p>
    <p></p>
  </div>
</template>
<script>
import EventBuss from "./Componentwrite.vue";
export default {
  props: {
    mail: {
      default: "didemsahin@gmail.com",
    },
  },
  data() {
    return { componentdatasi: "sıfırsıfır" };
  },
  mounted() {
    EventBuss.$on("componentdatatransfer", (element) => {
      this.componentdatasi = element;
    });
  },
};
</script>
<style scoped>
div {
  background-color: rgb(236, 22, 232);
  color: white;
  float: left;
  width: 100%;
  height: 100%;
}
</style>