<template>
  <div>
    <p>Header</p>
    <button @click="mailChange()">Kullanıcı değiştir</button>
    <button @click="componentyontem()">Component Yöntem</button>
  </div>
</template>
<script>
import EventBuss from "./Componentwrite.vue";

export default {
  data: function () {
    return {};
  },
  methods: {
    mailChange() {
      this.$emit("mailChanged", "Samet@gmail.com");
    },
    componentyontem() {
      EventBuss.$emit("componentdatatransfer", "data-transfer");
    },
  },
};
</script>
<style  scoped>
div {
  background-color: green;
  color: white;
}
</style>