<template>
  <div>
    <a v-for="(link, index) in 5" :key="index">link </a>
  </div>
</template>
<script>
export default {
  data: function () {
    return {};
  },
  methods: {},
};
</script>
<style  scoped>
div {
  background-color: blue;
  color: white;
  float: left;
  width: calc(20% - 20px);
  height: 100%;
  margin: 10px;
}
a {
  width: 100%;
  float: left;
  height: 40px;
  background-color: whitesmoke;
  color: blue;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a:hover {
  color: white;
  animation-name: example;
  animation-duration: 1s;
  background-color: red;
}
@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
</style>