 
<template>
  <div>
    <p>parent element olsunnn {{ title }}</p>
    <button @click="changeName">İsmimi değiştir</button>
    <header-container @mailChanged="mailss = $event"></header-container>
    <left-menu></left-menu>
    <container :name="title" @parentTitleChanged="title = $event"></container>
    <footer-container :mail="mailss"></footer-container>
    <footer-container></footer-container>
  </div>
</template>
<script>
import Header from "./Header.vue";
import Container from "./Container.vue";
import Footer from "./Footer.vue";
import LeftMenu from "./Leftmenu.vue";

export default {
  components: {
    "header-container": Header,
    "left-menu": LeftMenu,
    container: Container,
    "footer-container": Footer,
  },
  data: function () {
    return {
      title: "Didem",
      mailss: null,
    };
  },
  methods: {
    changeName() {
      this.title = "İsim değiştirildi..";
    },
  },
};
//main js de yaptığımız import-export işlemi gibi...
</script>
<style scoped>
.left-menu {
  float: left;
  width: 20%;
}
</style>
