<template>
  <div>
    <h1>New Memory Component {{ counter }}</h1>
    <button class="btn-sm btn-primary" @click="counter++">Counter ++</button>
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      counter: 0,
    };
  },
};
</script>
