<template>
  <div>
    <Lamp-component></Lamp-component>
    <page-type></page-type>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <br /><br />
          <button
            @click="selectedComponents = 'appMemory'"
            class="btn-sm btn btn-primary"
          >
            appMemory
          </button>
          <button
            @click="selectedComponents = 'appNewMemory'"
            class="btn-sm btn btn-primary"
          >
            appNewMemory
          </button>
          <button
            @click="selectedComponents = 'appAuthor'"
            class="btn-sm btn btn-primary"
          >
            appAuthor
          </button>
          <p>
            {{ selectedComponents }}
            <app-memory v-show="selectedComponents === 'appMemory'">
              <span slot="heading" style="color: red">SPABSSSSS</span>
              <template slot="author">
                <div
                  style="
                    border: 1px solid #cecece;
                    border-radius: 10px;
                    background: #eee;
                    width: 200px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                  "
                >
                  BUTONSS
                </div>

                <app-new-memory />
              </template>
            </app-memory>
            <app-new-memory v-show="selectedComponents === 'appNewMemory'" />
            <app-author v-show="selectedComponents === 'appAuthor'" />
            <!--<component :is="selectedComponents"></component>
             <app-memory>
              <h1 slot="heading">Güzel bir heading slot</h1>
              <p>app memory tag içindeki yalnız p..</p>
            </app-memory> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Memory from "./tab/memory.vue";
import NewMemory from "./tab/newmemory.vue";
import Author from "./tab/author.vue";

export default {
  data: function () {
    return {
      selectedComponents: "appMemory",
    };
  },
  components: {
    appMemory: Memory,
    appNewMemory: NewMemory,
    appAuthor: Author,
  },
};
</script>
 